# Compilación
bin/
obj/
out/

# Configuración local de Visual Studio
.vs/
*.user
*.suo

# Archivos temporales y logs
*.log
*.tmp
*.bak
*.swp
*.DS_Store
Thumbs.db

# Base de datos SQLite 
*.db
!PruebaHotep.WebApi/banco.db

# Secretos
secrets.json

# Archivos JetBrains Rider
.idea/
*.sln.iml

# Dotnet CLI y artefactos
project.lock.json
project.fragment.lock.json
artifacts/

# Certificados
*.pfx
*.p12
